@font-face {
  font-family: Outfit-Bold;
  src: url("../assets/other/Outfit-Bold.woff2") format("woff2");
}
html, body {
  margin: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  background: rgb(0, 0, 0);
  touch-action: manipulation;
  font-family: Outfit-Bold, sans-serif;
  -webkit-tap-highlight-color: transparent;
}
html ::backdrop, body ::backdrop {
  background: rgba(0, 0, 0, 0.5);
}

main {
  gap: 5px;
  padding: 5px;
  display: flex;
  height: calc(100vh - 10px);
  flex-direction: column-reverse;
}
main #menu:open {
  gap: 10px;
  border: none;
  width: 250px;
  padding: 10px;
  display: flex;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  border-radius: 5px;
  align-items: stretch;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
main #menu:open #code {
  flex: 1;
  margin: 0;
  padding: 5px 0;
  border-radius: 5px;
  text-align: center;
  background-color: rgb(230, 230, 230);
}
main #menu:open #copy {
  top: 50%;
  right: 5px;
  cursor: pointer;
  position: absolute;
  transform: translateY(-50%);
}
main #menu:open #join {
  flex: 1;
  padding: 10px 0;
  text-align: center;
  border-radius: 5px;
  font-family: inherit;
  width: calc(100% - 2px);
  border: 1px solid rgb(35, 35, 35);
}
main #menu:open .play {
  flex: 1;
  border: none;
  padding: 10px 0;
  cursor: pointer;
  border-radius: 5px;
  font-family: inherit;
  color: rgb(255, 255, 255);
  background-color: rgb(23, 123, 84);
  box-shadow: 0 0 2.5px rgba(0, 0, 0, 0.5);
}
main #menu:open .play:focus {
  outline: none;
}
main #menu:open .play:hover,
main #menu:open .play:active {
  border-radius: 90px;
  background-color: rgb(20, 100, 70);
}
main #menu:open span {
  display: flex;
  position: relative;
  align-items: center;
}
main #menu:open span h6 {
  margin: 0;
  color: rgb(35, 35, 35);
}
main #menu:open span hr {
  flex: 0.4;
  border-top: 1px solid rgb(200, 200, 200);
}
main #panel {
  gap: 5px;
  display: none;
}
main #panel button {
  flex: 1;
  border: none;
  display: none;
  cursor: pointer;
  border-radius: 5px;
  font-family: inherit;
}
main #panel button:active {
  border-radius: 90px;
  background-color: rgb(200, 200, 200);
}
main #panel[class]:not(.hand) #hand, main #panel.hand #fall, main #panel.dices #roll, main #panel.cards #flip {
  display: block;
}
main:has(#panel[class]) #panel {
  flex: 0.05;
  display: flex;
}
main:has(#panel[class]) #table {
  cursor: pointer;
}
main #table {
  flex: 1;
  padding: 10px;
  overflow: auto;
  position: relative;
  border-radius: 5px;
  background: rgb(23, 123, 84);
  border: 10px ridge rgb(239, 158, 87);
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
}
main #table .hide {
  display: none;
}
main #table .hand {
  outline: 2px solid rgb(0, 255, 0);
}
main #table .dices {
  left: 125px;
}
main #table .dices.black {
  top: 210px;
}
main #table .dices.red {
  top: 250px;
}
main #table .cards {
  border-radius: 5px;
  border: 1px solid rgb(0, 0, 0);
}
main #table .cards.blue {
  left: 45px;
}
main #table .cards.red {
  left: 85px;
}
main #table .cards.no-jolly {
  top: 65px;
  border: 1px solid rgb(255, 255, 255);
}
main #table .chips {
  left: 125px;
}
main #table .chips.gold {
  top: 50px;
}
main #table .chips.blue {
  top: 90px;
}
main #table .chips.red {
  top: 130px;
}
main #table .chips.green {
  top: 170px;
}
main #table .board {
  left: 165px;
}
main #table .chess.white {
  left: 450px;
}
main #table .chess.black {
  left: 490px;
}
main #table .chess.queen {
  top: 50px;
}
main #table .chess.bishop {
  top: 90px;
}
main #table .chess.knight {
  top: 130px;
}
main #table .chess.rook {
  top: 170px;
}
main #table .chess.pawn {
  top: 210px;
}
main #table .dames {
  top: 250px;
}
main #table .dames.white {
  left: 452.5px;
}
main #table .dames.black {
  left: 492.5px;
}
main #table > * {
  position: absolute;
  will-change: filter, transform;
}