html, body {
  margin: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  background: rgb(0, 0, 0);
  touch-action: manipulation;
  font-family: Outfit, sans-serif;
  -webkit-tap-highlight-color: transparent;
}
html ::backdrop, body ::backdrop {
  background: rgba(0, 0, 0, 0.5);
}

main {
  gap: 5px;
  padding: 5px;
  display: flex;
  height: calc(100vh - 10px);
  flex-direction: column-reverse;
}
main #table {
  flex: 1;
  padding: 10px;
  overflow: auto;
  position: relative;
  border-radius: 5px;
  background: rgb(23, 123, 84);
  border: 10px ridge rgb(239, 158, 87);
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
}
main #table .hide {
  display: none;
}
main #table .hand {
  outline: 2px solid rgb(0, 255, 0);
}
main #table .dices {
  left: 125px;
}
main #table .dices.black {
  top: 210px;
}
main #table .dices.red {
  top: 250px;
}
main #table .cards {
  border-radius: 5px;
  border: 1px solid rgb(0, 0, 0);
}
main #table .cards.blue {
  left: 45px;
}
main #table .cards.red {
  left: 85px;
}
main #table .cards.no-jolly {
  top: 65px;
  border: 1px solid rgb(255, 255, 255);
}
main #table .chips {
  left: 125px;
}
main #table .chips.gold {
  top: 50px;
}
main #table .chips.blue {
  top: 90px;
}
main #table .chips.red {
  top: 130px;
}
main #table .chips.green {
  top: 170px;
}
main #table .board {
  left: 165px;
}
main #table .chess.white {
  left: 450px;
}
main #table .chess.black {
  left: 490px;
}
main #table .chess.queen {
  top: 50px;
}
main #table .chess.bishop {
  top: 90px;
}
main #table .chess.knight {
  top: 130px;
}
main #table .chess.rook {
  top: 170px;
}
main #table .chess.pawn {
  top: 210px;
}
main #table .dames {
  top: 250px;
}
main #table .dames.white {
  left: 452.5px;
}
main #table .dames.black {
  left: 492.5px;
}
main #table > * {
  position: absolute;
  will-change: filter, transform;
}
main #panel {
  gap: 5px;
  flex: 0.05;
  display: flex;
}
main #panel button {
  flex: 1;
  border: none;
  display: none;
  cursor: pointer;
  border-radius: 5px;
}
main #panel button:active {
  border-radius: 90px;
  background-color: rgb(200, 200, 200);
}
main #panel:not([class]) .room, main #panel[class]:not(.hand) #hand, main #panel.hand #fall, main #panel.dices #roll, main #panel.cards #flip {
  display: block;
}
main:has(#panel[class]) #table {
  cursor: pointer;
}
main #table .dices {
  width: 35px;
}
main #table .cards {
  height: 50px;
}
main #table .chips {
  height: 35px;
}
main #table #board {
  width: 275px;
  height: 275px;
}
main #table .chess {
  height: 35px;
}
main #table .dames {
  height: 30px;
}