@font-face
    font-family: Outfit-Bold
    src: url(../assets/other/Outfit-Bold.woff2) format(woff2)

html, body
    margin: 0
    user-select: none
    touch-action: none
    background: rgb(0, 0, 0)
    -webkit-tap-highlight-color: transparent

    & ::backdrop
        background: rgba(0, 0, 0, 0.5)

main
    gap: 10px
    padding: 10px
    display: flex
    height: calc(100vh - 20px)
    flex-direction: column-reverse

    #menu:open
        border: none
        width: 250px
        padding: 10px
        display: flex
        user-select: none
        border-radius: 5px
        aspect-ratio: 1 / 1
        align-items: stretch
        flex-direction: column
        justify-content: space-between
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5)

        #room.shake
            will-change: transform
            animation: shake 1.5s linear
            background: rgb(255, 102, 102)

        #join
            padding: 10px 0
            border: 1px solid
            text-align: center
            border-radius: 5px
            font-family: Outfit-Bold, sans-serif

        .play
            border: none
            cursor: pointer
            padding: 10.8px 0
            border-radius: 5px
            color: rgb(255, 255, 255)
            background: rgb(23, 123, 84)
            font-family: Outfit-Bold, sans-serif
            box-shadow: 0 0 2.5px rgba(0, 0, 0, 0.5)

        .play:focus
            outline: none

        span
            display: flex
            position: relative
            align-items: center

            #code
                flex: 1
                margin: 0
                padding: 7.6px 0
                border-radius: 5px
                text-align: center
                background: rgb(204, 204, 204)
                font-family: Outfit-Bold, sans-serif

            #send
                top: 50%
                right: 7.6px
                cursor: pointer
                position: absolute
                transform: translateY(-50%)

            hr
                flex: 0.4
                border-top: 1px solid rgb(204, 204, 204)

            h6
                margin: 0
                font-family: Outfit-Bold, sans-serif

    #panel
        gap: 5px
        display: none

        button
            flex: 1
            border: none
            display: none
            cursor: pointer
            border-radius: 5px
            font-family: Outfit-Bold, sans-serif

        &[class]:not(.hand) #hand, &.hand #fall, &.dices #roll, &.cards #flip
            display: block

        &[class]
            flex: 0.05
            display: flex

    #table
        flex: 1
        padding: 10px
        position: relative
        border-radius: 5px
        contain: layout paint
        background: rgb(23, 123, 84)
        border: 10px ridge rgb(239, 158, 87)
        box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5)

        .hide
            opacity: 0
            visibility: hidden
            pointer-events: none
            transition: opacity 1s linear, visibility 0s linear 1s
        .hand
            outline: 2px solid rgb(0, 255, 0)

        .dices
            left: 125px

            &.black
                top: 210px
            &.red
                top: 250px

        .cards
            border: 1px solid
            border-radius: 5px

            &.blue
                left: 45px
            &.red
                left: 85px
            &.no-jolly
                top: 65px
                border: 1px solid rgb(255, 255, 255)

        .chips
            left: 125px

            &.gold
                top: 50px
            &.blue
                top: 90px
            &.red
                top: 130px
            &.green
                top: 170px

        .board
            left: 165px

        .chess 
            &.white
                left: 450px
            &.black
                left: 490px
            &.queen
                top: 50px
            &.bishop
                top: 90px
            &.knight
                top: 130px
            &.rook
                top: 170px
            &.pawn
                top: 210px

        .dames
            top: 250px

            &.white
                left: 452.5px
            &.black
                left: 492.5px

        & > *
            opacity: 1
            position: absolute
            visibility: visible
            pointer-events: auto
            transition: opacity 1s linear, visibility 0s

        & > .dragging
            will-change: transform

        & > .selected
            animation: glow 1s ease-in-out infinite alternate

        &:has(> .selected)
            cursor: pointer

@media (hover: hover) and (pointer: fine)
    #menu:open
        .play:hover:not(.shake)
            border-radius: 90px
            background: rgb(15, 80, 55)

    #panel[class]
        #hand:hover,
        #fall:hover,
        #roll:hover,
        #flip:hover
            border-radius: 90px
            background: rgb(204, 204, 204)

@keyframes shake
    0%
        transform: translateX(5px)
    10%
        transform: translateX(-5px)
    20%
        transform: translateX(5px)
    30%
        transform: translateX(-5px)
    40%
        transform: translateX(5px)
    50%
        transform: translateX(-5px)
    60%
        transform: translateX(5px)
    70%
        transform: translateX(-5px)
    80%
        transform: translateX(5px)
    90%
        transform: translateX(-5px)
    100%
        transform: translateX(0)

@keyframes glow
    from
        filter: drop-shadow(0 0 0 rgb(255, 230, 120)) brightness(1)
    to
        filter: drop-shadow(0 0 5px rgb(255, 230, 120)) brightness(1.2)