@import url("https://fonts.googleapis.com/css2?family=Outfit&display=swap")

html, body
    height: 100%
    user-select: none
    -webkit-tap-highlight-color: transparent

body
    margin: 0
    background-color: rgb(31, 35, 36)

    #dialog-overlay
        top: 0
        left: 0
        z-index: 1
        width: 100%
        height: 100%
        position: fixed
        align-items: center
        justify-content: center
        background-color: rgba(0, 0, 0, 0.75)

        #dialog-box
            gap: 20px
            padding: 20px
            display: flex
            max-width: 75%
            max-height: 100%
            border-radius: 10px
            flex-direction: column
            background-color: rgb(255, 255, 255)
            box-shadow: 0 0 50px rgba(0, 0, 0, 0.5)

            #dialog-title
                margin: 0
                color: #006847
                text-align: center
                font-family: Outfit, sans-serif

            #join
                padding: 5px
                height: 25px
                text-align: center
                border-radius: 10px
                font-family: Outfit, sans-serif
                border: 1px solid rgb(0, 118, 73)

            #room
                margin: 0
                text-align: center
                white-space: pre-wrap
                font-family: Outfit, sans-serif

            div
                gap: 5px
                display: flex
                justify-content: center

                #copy
                    cursor: pointer

            #dialog-button
                margin: 0
                color: white
                border: none
                cursor: pointer
                padding: 10px 20px
                border-radius: 10px
                font-family: Outfit, sans-serif
                background-color: rgb(0, 118, 73)

                &:hover
                    color: rgb(0, 0, 0)
                    background-color: rgba(0, 118, 73, 0.5)

    main
        height: 100%
        display: flex
        flex-direction: column

        #decks
            top: 30px
            left: 30px
            width: 100px
            height: 137px

        #chips
            top: 70px
            left: 147px
            width: 20px
            height: 145px

        #table
            gap: 10px
            height: 100%
            padding: 5px
            margin: 10px
            overflow: auto
            position: relative
            border-radius: 5px
            background-color: rgb(0, 118, 73)
            border: 10px ridge rgb(239, 158, 87)
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5)

            .hand
                border: 2px solid rgb(255, 0, 0) !important

            .hide
                display: none !important

            .card
                height: 50px
                border-radius: 2.5px
                border: 1px solid rgb(0, 0, 0)

            .blue.card
                left: 40px

            .blue.card.no-jolly
                top: 80px

            .red.card
                left: 80px

            .red.card.no-jolly
                top: 80px

            .info
                left: 43px
                color: white
                font-family: Outfit, sans-serif

            #V
                top: 37px

            #X
                top: 112px

            .chip
                left: 120px
                height: 35px

            .gold.chip
                top: 45px

            .blue.chip
                top: 85px

            .red.chip
                top: 125px

            .green.chip
                top: 165px

            #board
                left: 160px
                width: 275px
                height: 275px

            .chess
                height: 35px

            .chess.white
                left: 440px

            .chess.black
                left: 480px

            .queen
                top: 39px

            .bishop
                top: 76px

            .knight
                top: 113px

            .rook
                top: 150px

            .pawn
                top: 187px

            .dama
                top: 230px
                height: 30px

            .white.dama
                left: 445px

            .black.dama
                left: 483px

        & *
            position: absolute

        & *:not(.info):hover
            filter: drop-shadow(0 2px 6px rgb(0, 0, 0, 0.5))