@import url("https://fonts.googleapis.com/css2?family=Outfit&display=swap")

html, body
    height: 100%
    user-select: none
    -webkit-tap-highlight-color: transparent

body
    margin: 0
    background-color: rgb(31, 35, 36)

    main
        height: 100%
        display: flex
        flex-direction: column

        #table
            gap: 10px
            height: 100%
            padding: 5px
            margin: 10px
            overflow: auto
            position: relative
            border-radius: 5px
            background-color: rgb(0, 118, 73)
            border: 10px ridge rgb(239, 158, 87)
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5)

        #table *
            cursor: pointer
            position: absolute

        .card:hover, .chips:hover, .chess:hover, .dama:hover
            transform: scale(1.075)

        .card, .chips, #board, .dama
            border: 1px solid rgb(0, 0, 0)

        .blue
            left: 40px

        .red
            left: 80px

        .card
            height: 50px
            border-radius: 2.5px

        .chips
            left: 120px
            height: 35px
            border-radius: 90%

        #gold_chips
            top: 45px

        #blue_chips
            top: 85px

        #red_chips
            top: 125px

        #green_chips
            top: 165px

        #board
            left: 160px
            width: 275px
            height: 275px

        .chess
            height: 35px

        .chess.white
            left: 440px

        .chess.black
            left: 480px

        .queen
            top: 39px

        .bishop
            top: 76px

        .knight
            top: 113px

        .rook
            top: 150px

        .pawn
            top: 187px

        .dama
            left: 520px
            height: 30px
            border-radius: 90%

        .dama.black
            top: 43px