@import url("https://fonts.googleapis.com/css2?family=Outfit&display=swap");
html, body {
  height: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
  background-color: rgb(31, 35, 36);
}
body #decks {
  top: 30px;
  left: 30px;
  width: 100px;
  height: 137px;
  position: fixed;
}
body #chips {
  top: 70px;
  left: 147px;
  width: 20px;
  height: 145px;
  position: fixed;
}
body #menu, body #load, body #wait {
  padding: 20px;
  max-width: 75%;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
}
body #menu .name, body #load .name, body #wait .name {
  margin: 0;
  color: #006847;
  text-align: center;
  font-family: Outfit, sans-serif;
}
body #menu button, body #load button, body #wait button {
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 10px;
  font-family: Outfit, sans-serif;
  background-color: rgb(0, 118, 73);
}
body #menu button:hover, body #load button:hover, body #wait button:hover {
  color: rgb(0, 0, 0);
  background-color: rgba(0, 118, 73, 0.5);
}
body #menu #form-wait, body #load #form-wait, body #wait #form-wait {
  margin: 20px 0 10px 0;
}
body #menu #form-wait #join, body #load #form-wait #join, body #wait #form-wait #join {
  padding: 5px;
  min-width: 0;
  flex: 1 1 auto;
  border-radius: 10px;
  font-family: Outfit, sans-serif;
  border: 1px solid rgb(0, 118, 73);
}
body #menu #form-load button, body #load #form-load button, body #wait #form-load button {
  width: 100%;
}
body #load h5 {
  margin: 0;
  text-align: center;
  white-space: pre-wrap;
  font-family: Outfit, sans-serif;
}
body #load #room {
  width: 40%;
  text-align: center;
}
body #load div {
  display: flex;
  align-items: center;
  justify-content: center;
}
body #load div #copy {
  cursor: pointer;
}
body main {
  height: 100%;
  display: flex;
  flex-direction: column;
}
body main #table {
  gap: 10px;
  height: 100%;
  padding: 5px;
  margin: 10px;
  overflow: auto;
  position: relative;
  border-radius: 5px;
  background-color: rgb(0, 118, 73);
  border: 10px ridge rgb(239, 158, 87);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
body main #table .hand {
  border: 2px solid rgb(255, 0, 0) !important;
}
body main #table .hide {
  display: none !important;
}
body main #table .card {
  height: 50px;
  border-radius: 2.5px;
  border: 1px solid rgb(0, 0, 0);
}
body main #table .blue.card {
  left: 40px;
}
body main #table .blue.card.no-jolly {
  top: 80px;
}
body main #table .red.card {
  left: 80px;
}
body main #table .red.card.no-jolly {
  top: 80px;
}
body main #table .info {
  left: 43px;
  color: white;
  font-family: Outfit, sans-serif;
}
body main #table #V {
  top: 37px;
}
body main #table #X {
  top: 112px;
}
body main #table .chip {
  left: 120px;
  height: 35px;
}
body main #table .gold.chip {
  top: 45px;
}
body main #table .blue.chip {
  top: 85px;
}
body main #table .red.chip {
  top: 125px;
}
body main #table .green.chip {
  top: 165px;
}
body main #table #board {
  left: 160px;
  width: 275px;
  height: 275px;
}
body main #table .chess {
  height: 35px;
}
body main #table .chess.white {
  left: 440px;
}
body main #table .chess.black {
  left: 480px;
}
body main #table .queen {
  top: 39px;
}
body main #table .bishop {
  top: 76px;
}
body main #table .knight {
  top: 113px;
}
body main #table .rook {
  top: 150px;
}
body main #table .pawn {
  top: 187px;
}
body main #table .dama {
  top: 230px;
  height: 30px;
}
body main #table .white.dama {
  left: 445px;
}
body main #table .black.dama {
  left: 483px;
}
body main * {
  position: absolute;
}
body main *:not(.info):hover {
  filter: drop-shadow(0 2px 6px rgba(0, 0, 0, 0.5));
}/*# sourceMappingURL=index.css.map */